<a href="https://colab.research.google.com/github/JSchoonmaker/FCC-Machine-Learning-Projs/blob/main/FCC_book_recommendation_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

In [166]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [167]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip
nn
books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2021-03-28 23:07:44--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 172.67.70.149, 104.26.3.33, 104.26.2.33, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|172.67.70.149|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘book-crossings.zip.1’

book-crossings.zip.     [            <=>     ]  24.88M  1.45MB/s    in 17s

2021-03-28 23:08:02 (1.46 MB/s) - ‘book-crossings.zip.1’ saved [26085508]

Archive:  book-crossings.zip
replace BX-Book-Ratings.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace BX-Books.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace BX-Users.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [168]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [169]:
df_ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [170]:
df_books.head()

         isbn  ...                author
0  0195153448  ...    Mark P. O. Morford
1  0002005018  ...  Richard Bruce Wright
2  0060973129  ...          Carlo D'Este
3  0374157065  ...      Gina Bari Kolata
4  0393045218  ...       E. J. W. Barber

[5 rows x 3 columns]

In [171]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   user    1149780 non-null  int32
 1   isbn    1149780 non-null  object
 2   rating  1149780 non-null  float32
dtypes: float32(1), int32(1), object(1)
memory usage: 17.5+ MB

In [172]:
# filtering dfs in order to meet criteria in instructions that says:
# "To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings."
count_1 = df_ratings['user'].value_counts()
count_2 = df_ratings['isbn'].value_counts()

df_ratings = df_ratings[~df_ratings['user'].isin(count_1[count_1 < 200].index)]
df_ratings = df_ratings[~df_ratings['isbn'].isin(count_2[count_2 < 100].index)]

In [173]:
# merging dataframes
df = pd.merge(right=df_ratings, left = df_books, on='isbn')
df.head()

         isbn          title        author    user  rating
0  0440234743  The Testament  John Grisham  277478     0.0
1  0440234743  The Testament  John Grisham    2977     0.0
2  0440234743  The Testament  John Grisham    3363     0.0
3  0440234743  The Testament  John Grisham    7346     9.0
4  0440234743  The Testament  John Grisham    9856     0.0

In [174]:
# dropping any rows that have the same user giving multiple ratings on the same title
df = df.drop_duplicates(["title", "user"])

In [175]:
# creating pivot dataframe for sparse matrix of users and book ratings
df_pivot = df.pivot(index='title', columns='user', values='rating')

In [176]:
df_pivot.fillna(0, inplace = True)
df_pivot

user                                                254     ...  278418
title                                                       ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0
...                                                    ...  ...     ...
Without Remorse                                        0.0  ...     0.0
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
\O\" Is for Outlaw"                                    0.0  ...     0.0

[673 rows x 888 columns]

In [177]:
# creating labels and training set for KNN
labels = list(df_pivot.index.values)
print(labels)
X = df_pivot.values
print(X)

['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes', 'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash', 'A Bend in the Road', 'A Case of Need', 'A Child Called \\It\\": One Child\'s Courage to Survive"', 'A Civil Action', 'A Confederacy of Dunces (Evergreen Book)', 'A Fine Balance', 'A Girl Named Zippy: Growing Up Small in Mooreland Indiana (Today Show Book Club #3)', 'A Heartbreaking Work of Staggering Genius', 'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))', 'A Lesson Before Dying (Vintage Contemporaries (Paperback))', 'A Light in the Window (The Mitford Years)', 'A Man in Full', 'A Map of the World', 'A Painted House', 'A Patchwork Planet', 'A Prayer for Owen Meany', 'A Thin Dark Line (Mysteries &amp; Horror)', "A Thousand Acres (Ballantine Reader's Circle)", 'A Time to Kill', "A Virtuous Woman (Oprah's Book Club (Paperback))", 'A Walk in the Woods: Rediscovering America on the Appalachian Trail (Official Guides to the Appalachian Trail)', 'A Walk to Remember', 'A Widow for One Year', 'A Wrinkle In Time', 'A Wrinkle in Time', 'A Year in Provence', "ANGELA'S ASHES", 'About a Boy', 'About a Boy (Movie Tie-In)', 'Absolute Power', 'Acceptable Risk', "Ahab's Wife: Or, The Star-Gazer: A Novel", 'Airframe', 'All Around the Town', 'All I Really Need to Know', 'All That Remains (Kay Scarpetta Mysteries (Paperback))', 'All the Pretty Horses (The Border Trilogy, Vol 1)', 'Along Came a Spider (Alex Cross Novels)', 'American Gods', 'American Psycho (Vintage Contemporaries)', "Angela's Ashes (MMP) : A Memoir", "Angela's Ashes: A Memoir", 'Angels', 'Angels &amp; Demons', 'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson', 'Animal Dreams', 'Animal Farm', 'Anne Frank: The Diary of a Young Girl', 'Anne of Avonlea (Anne of Green Gables Novels (Paperback))', 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))', 'Artemis Fowl (Artemis Fowl, Book 1)', 'Ashes to Ashes', 'At Home in Mitford (The Mitford Years)', 'Atlantis Found', 'Atlas Shrugged', 'Atonement : A Novel', 'Atonement: A Novel', 'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))', 'Back Roads', "Back When We Were Grownups : A Novel (Ballantine Reader's Circle)", 'Bag of Bones', 'Balzac and the Little Chinese Seamstress : A Novel', 'Bastard Out of Carolina', 'Beach House', 'Beach Music', 'Bee Season: A Novel', 'Before I Say Good-Bye', 'Bel Canto: A Novel', 'Beloved', 'Beloved (Plume Contemporary Fiction)', "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)", "Big Stone Gap: A Novel (Ballantine Reader's Circle)", 'Big Trouble', 'Black Friday', 'Black House', 'Black Notice', 'Black and Blue', 'Bleachers', 'Blessings', 'Blood Work', 'Blow Fly: A Scarpetta Novel', 'Body of Evidence (Kay Scarpetta Mysteries (Paperback))', 'Body of Lies', 'Brave New World', 'Breath, Eyes, Memory', 'Breathing Lessons', 'Bridget Jones : The Edge of Reason', "Bridget Jones's Diary", 'Bridget Jones: The Edge of Reason', 'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))', "CAT'S EYE", 'Call of the Wild', 'Cane River', 'Carolina Moon', 'Cat &amp; Mouse (Alex Cross Novels)', 'Catch 22', 'Catch Me If You Can: The True Story of a Real Fake', 'Cause of Death', "Charlotte's Web (Trophy Newbery)", 'Charming Billy', 'Chicken Soup for the Soul (Chicken Soup for the Soul)', 'Chicken Soup for the Teenage Soul (Chicken Soup for the Soul)', "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))", 'Chocolat', 'Chosen Prey', 'Circle of Friends', 'Clear and Present Danger (Jack Ryan Novels)', 'Coast Road: A Novel', 'Code to Zero', 'Cold Mountain', 'Cold Mountain : A Novel', 'Confessions of a Shopaholic (Summer Display Opportunity)', 'Confessions of an Ugly Stepsister : A Novel', 'Congo', 'Contact', 'Coraline', "Corelli's Mandolin : A Novel", 'Couplehood', 'Cradle and All', 'Crazy for You', 'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))', 'Cry Wolf', 'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))', "Daddy's Little Girl", 'Daisy Fay and the Miracle Man', 'Dance upon the Air (Three Sisters Island Trilogy)', 'Dances With Wolves', 'Dark Paradise', 'Dark Rivers of the Heart', 'Daughter of Fortune', "Daughter of Fortune : A Novel (Oprah's Book Club (Hardcover))", 'Daughter of Fortune: A Novel', 'Dead Sleep', 'Debt of Honor (Jack Ryan Novels)', 'Deception Point', 'Degree of Guilt', 'Deja Dead', 'Desperation', 'Diary of a Mad Bride (Summer Display Opportunity)', 'Digital Fortress : A Thriller', 'Disclosure', 'Divine Secrets of the Ya-Ya Sisterhood : A Novel', 'Divine Secrets of the Ya-Ya Sisterhood: A Novel', 'Dolores Claiborne', "Don't Stand Too Close to a Naked Man", "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)", 'Dr. Death (Alex Delaware Novels (Paperback))', 'Dragonfly in Amber', 'Dreamcatcher', 'Drowning Ruth', "Drowning Ruth (Oprah's Book Club)", "Dude, Where's My Country?", 'Dune (Remembering Tomorrow)', 'Dust to Dust', 'Dying for Chocolate (Culinary Mysteries (Paperback))', 'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))', "East of Eden (Oprah's Book Club)", 'Easy Prey', 'Eaters of the Dead', 'Eats, Shoots &amp; Leaves: The Zero Tolerance Approach to Punctuation', 'Echoes', 'Eleventh Hour: An FBI Thriller (FBI Thriller (Jove Paperback))', 'Ellen Foster', 'Empire Falls', "Ender's Game (Ender Wiggins Saga (Paperback))", 'Engaging The Enemy', 'Envy', 'Evening Class', "Everything's Eventual : 14 Dark Tales", 'Executive Orders (Jack Ryan Novels)', 'Eyes of the Dragon', 'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))', 'FORREST GUMP (Movie Tie in)', 'Face the Fire (Three Sisters Island Trilogy)', 'Fahrenheit 451', 'Faking It', 'Fall On Your Knees (Oprah #45)', 'Falling Angels', 'False Memory', 'Fast Food Nation: The Dark Side of the All-American Meal', 'Fast Women', 'Fatal Voyage', 'Fear Nothing', 'Final Target', 'Five Quarters of the Orange', 'Flesh and Blood', 'Forever... : A Novel of Good and Evil, Love and Hope', "Fortune's Rocks: A Novel", "Foucault's Pendulum", 'Four Blind Mice', 'Four Blondes', 'Four Past Midnight', 'Four To Score (A Stephanie Plum Novel)', 'Fried Green Tomatoes at the Whistle Stop Cafe', "From Potter's Field", 'From a Buick 8 : A Novel', 'From the Corner of His Eye', "Full House (Janet Evanovich's Full Series)", "Full Tilt (Janet Evanovich's Full Series)", 'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))', 'Gap Creek: The Story Of A Marriage', "Gerald's Game", 'Girl in Hyacinth Blue', 'Girl with a Pearl Earring', 'Girl, Interrupted', 'Good Omens', 'Good in Bed', 'Guilty as Sin', 'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))', 'Hannibal', 'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)', 'Harry Potter and the Chamber of Secrets (Book 2)', 'Harry Potter and the Goblet of Fire (Book 4)', 'Harry Potter and the Order of the Phoenix (Book 5)', 'Harry Potter and the Prisoner of Azkaban (Book 3)', "Harry Potter and the Sorcerer's Stone (Book 1)", "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))", 'Heart of the Sea (Irish Trilogy)', 'Hearts In Atlantis', 'Hearts in Atlantis', 'Heaven and Earth (Three Sisters Island Trilogy)', 'Hemlock Bay', 'Here on Earth', 'Hide &amp; Seek', 'Hideaway', 'High Fidelity', 'High Five (A Stephanie Plum Novel)', 'Holes (Yearling Newbery)', "Hornet's Nest", 'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)', 'House of Sand and Fog', 'How the Garcia Girls Lost Their Accents (Plume Contemporary Fiction)', 'How to Be Good', 'How to Make an American Quilt', 'I Is for Innocent', 'I Know This Much Is True', "I Know This Much Is True (Oprah's Book Club)", 'I Know Why the Caged Bird Sings', "I'll Be Seeing You", 'Icebound', 'Icy Sparks', 'In Her Shoes : A Novel', 'Inner Harbor (Quinn Brothers (Paperback))', 'Insomnia', 'Intensity', 'Interpreter of Maladies', 'Interview with the Vampire', 'Into Thin Air : A Personal Account of the Mt. Everest Disaster', 'Into the Wild', 'Invasion', 'Irish Hearts', 'Ishmael: An Adventure of the Mind and Spirit', 'Isle of Dogs', 'It Was on Fire When I Lay Down on It', 'J Is for Judgment', 'Jack &amp; Jill (Alex Cross Novels)', 'Jackdaws', 'Jemima J: A Novel About Ugly Ducklings and Swans', 'Jewel', "Jewel (Oprah's Book Club)", 'Jewels of the Sun (Irish Trilogy)', 'Jonathan Livingston Seagull', 'Jurassic Park', 'K Is for Killer (Kinsey Millhone Mysteries (Paperback))', 'Key of Knowledge (Key Trilogy (Paperback))', 'Key of Light (Key Trilogy (Paperback))', 'Key of Valor (Roberts, Nora. Key Trilogy, 3.)', 'Kiss the Girls', 'L Is for Lawless', 'Lake Wobegon days', "Lamb : The Gospel According to Biff, Christ's Childhood Pal", 'Lasher: Lives of the Mayfair Witches (Lives of the Mayfair Witches)', 'Last Chance Saloon', 'Last Man Standing', "Left Behind: A Novel of the Earth's Last Days (Left Behind #1)", "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)", 'Let Me Call You Sweetheart', 'Lies and the Lying Liars Who Tell Them: A Fair and Balanced Look at the Right', 'Life of Pi', 'Lightning', 'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies', 'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies', 'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies', 'Little Altars Everywhere: A Novel', 'Long After Midnight', 'Lord of the Flies', 'Love in the Time of Cholera (Penguin Great Books of the 20th Century)', 'Loves Music, Loves to Dance', 'Lucky : A Memoir', 'Lucky Man: A Memoir', 'M Is for Malice', 'Manhattan Hunt Club', 'Me Talk Pretty One Day', 'Memoirs of a Geisha Uk', 'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships', 'Message in a Bottle', 'Middlesex: A Novel', 'Midnight Bayou', 'Midnight in the Garden of Good and Evil', 'Midnight in the Garden of Good and Evil: A Savannah Story', 'Midwives: A Novel', 'Misery', 'Miss Julia Speaks Her Mind : A Novel', 'Monster : A Novel (Alex Delaware Novels (Paperback))', 'Montana Sky', 'Moo', 'Moonlight Becomes You', 'Morality for Beautiful Girls (No.1 Ladies Detective Agency)', 'Mortal Prey', 'Mr. Murder', 'Mrs Dalloway', 'Mystic River', 'N Is for Noose', 'Naked', 'Needful Things', 'Neuromancer (Remembering Tomorrow)', 'Neverwhere', 'Nickel and Dimed: On (Not) Getting By in America', 'Nicolae: The Rise of Antichrist (Left Behind No. 3)', 'Night', 'Night Sins', 'Nightmares &amp; Dreamscapes', 'Nights in Rodanthe', 'Notes from a Small Island', 'Of Mice and Men (Penguin Great Books of the 20th Century)', 'On the Road', 'On the Street Where You Live', 'One Door Away from Heaven', "One Flew Over the Cuckoo's Nest", 'One True Thing', 'One for the Money (A Stephanie Plum Novel)', 'One for the Money (Stephanie Plum Novels (Paperback))', 'Open House', "Open House (Oprah's Book Club (Paperback))", 'Outlander', 'P Is for Peril', 'P Is for Peril (Kinsey Millhone Mysteries (Hardcover))', 'Patriot Games (Jack Ryan Novels)', 'Pay It Forward', 'Peace Like a River', 'Pigs in Heaven', 'Plainsong (Vintage Contemporaries)', 'Pleading Guilty', 'Plum Island', 'Point of Origin', 'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times', 'Pop Goes the Weasel', 'Portrait of a Killer: Jack the Ripper -- Case Closed', 'Portrait of a Killer: Jack the Ripper-- Case Closed (Berkley True Crime)', 'Possession : A Romance', 'Postmortem', 'Presumed Innocent', "Pretend You Don't See Her", 'Prey', 'Prey: A Novel', 'Prodigal Summer', 'Prodigal Summer: A Novel', 'Purity in Death', 'Q Is for Quarry', 'Rainbow Six', 'Red Dragon', 'Red Storm Rising', 'Remember Me', 'Riptide', 'Rising Sun', 'Rising Tides', "River's End", 'River, Cross My Heart', 'Rose Madder', 'Roses Are Red (Alex Cross Novels)', 'Running with Scissors: A Memoir', 'SHIPPING NEWS', 'STONES FROM THE RIVER', 'Sanctuary', 'Saving Faith', 'Scarlet Feather', 'Scarlett : The Sequel to Margaret Mitchell\'s \\Gone With the Wind\\""', "Schindler's List", 'Sea Glass: A Novel', 'Sea Swept (Quinn Brothers (Paperback))', 'Seabiscuit', 'Seabiscuit: An American Legend', 'Secret History', 'See How They Run', 'Seinlanguage', 'Seize the Night', 'September', 'Seven Habits Of Highly Effective People', 'Seven Up (A Stephanie Plum Novel)', 'Shadowfires', "She's Come Undone (Oprah's Book Club (Paperback))", "She's Come Undone (Oprah's Book Club)", 'Shell Seekers', 'Shopaholic Takes Manhattan (Summer Display Opportunity)', 'Shopaholic Ties the Knot', 'Shopgirl', 'Shopgirl : A Novella', 'Sick Puppy', 'Siddhartha', 'Silence of the Lambs', 'Silent Night : A Christmas Suspense Story', 'Simple Abundance:  A Daybook of Comfort and Joy', 'Sisterhood of the Traveling Pants', 'Skipping Christmas', "Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death", 'Sleepers', 'Slow Waltz in Cedar Bend', "Smilla's Sense of Snow", 'Snow Falling on Cedars', "Song of Solomon (Oprah's Book Club (Paperback))", "Songs in Ordinary Time (Oprah's Book Club (Paperback))", "Sophie's World: A Novel About the History of Philosophy", 'Soul Harvest: The World Takes Sides (Left Behind No. 4)', 'Southern Cross', 'Space', 'Sphere', 'Standing in the Rainbow', 'Still Waters', 'Stranger in a Strange Land (Remembering Tomorrow)', 'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!', 'Summer Pleasures', 'Summer Sisters', 'Survival of the Fittest: An Alex Delaware Novel', "Suzanne's Diary for Nicholas", 'Table For Two', 'Tara Road', 'Tears of the Giraffe (No.1 Ladies Detective Agency)', 'Tears of the Moon (Irish Trilogy)', 'Tell Me Lies (Tell Me Lies)', 'Tell No One', 'That Camden Summer', 'The Accidental Tourist', 'The Alchemist: A Fable About Following Your Dream', 'The Alienist', 'The Amazing Adventures of Kavalier &amp; Clay', 'The Andromeda Strain', 'The Angel of Darkness', 'The Bachelor (Warner Books Contemporary Romance)', 'The Bad Beginning (A Series of Unfortunate Events, Book 1)', 'The Bad Place', 'The Beach House', 'The Bean Trees', 'The Bear and the Dragon (Jack Ryan Novels)', 'The Big Bad Wolf: A Novel', 'The Blind Assassin', 'The Blue Nowhere : A Novel', 'The Bluest Eye', 'The Body Farm', 'The Bone Collector (Lincoln Rhyme Novels (Paperback))', "The Bonesetter's Daughter", 'The Bonfire of the Vanities', "The Book of Ruth (Oprah's Book Club (Paperback))", 'The Bourne Identity', 'The Boy Next Door', 'The Brethren', 'The Bridges of Madison County', 'The Burden of Proof', 'The Cardinal of the Kremlin (Jack Ryan Novels)', 'The Catcher in the Rye', 'The Celestine Prophecy (Celestine Prophecy)', 'The Chamber', 'The Cider House Rules', "The Clan of the Cave Bear (Earth's Children (Paperback))", 'The Client', 'The Color Purple', 'The Color of Magic', "The Color of Water: A Black Man's Tribute to His White Mother", 'The Copper Beech', 'The Corrections', 'The Corrections: A Novel', 'The Curious Incident of the Dog in the Night-Time (Today Show Book Club #13)', 'The Da Vinci Code', 'The Dark Half', 'The Deep End of the Ocean', "The Deep End of the Ocean (Oprah's Book Club (Hardcover))", 'The Devil Wears Prada : A Novel', "The Dive From Clausen's Pier (Alex Awards)", "The Dive From Clausen's Pier : A Novel (Vintage Contemporaries (Paperback))", 'The Divine Secrets of the Ya-Ya Sisterhood: A Novel', 'The Dogs of Babel (Today Show Book Club #12)', 'The Door to December', "The Dress Lodger (Ballantine Reader's Circle)", 'The English Patient', 'The Eye of the World (The Wheel of Time, Book 1)', 'The Eyes of Darkness', 'The Eyre Affair: A Novel', 'The Face of Deception', 'The Fellowship of the Ring (The Lord of the Rings, Part 1)', 'The Firm', 'The Five People You Meet in Heaven', 'The Forgotten (Peter Decker &amp; Rina Lazarus Novels (Paperback))', 'The Four Agreements: A Practical Guide to Personal Freedom', "The General's Daughter", 'The Genesis Code', 'The Girl Who Loved Tom Gordon', 'The Girl Who Loved Tom Gordon : A Novel', "The Girls' Guide to Hunting and Fishing", 'The Giver (21st Century Reference)', 'The Glass Lake', 'The God of Small Things', 'The Golden Compass (His Dark Materials, Book 1)', 'The Great Gatsby', 'The Green Mile', 'The Gunslinger (The Dark Tower, Book 1)', "The Handmaid's Tale", "The Handmaid's Tale : A Novel", "The Hitchhiker's Guide to the Galaxy", 'The Hobbit : The Enchanting Prelude to The Lord of the Rings', 'The Honk and Holler Opening Soon', 'The Horse Whisperer', 'The Hot Zone', 'The Hours : A Novel', 'The Hours: A Novel', 'The House of Thunder', 'The House of the Spirits', 'The House on Mango Street (Vintage Contemporaries)', 'The Hundred Secret Senses', 'The Hunt for Red October', "The Idiot Girls' Action Adventure Club", 'The Jester', 'The Joy Luck Club', 'The Key to Midnight', 'The Killer Angels', 'The Killing Game: Only One Can Win...and the Loser Dies', 'The King of Torts', "The Kitchen God's Wife", 'The Last Juror', 'The Last Precinct', 'The Last Time They Met : A Novel', "The Liar's Club: A Memoir", 'The Loop', "The Lost Boy: A Foster Child's Search for the Love of a Family", 'The Lost World', 'The Lottery Winner : Alvirah And Willy Stories', 'The Lovely Bones: A Novel', 'The Mists of Avalon', 'The Mulberry Tree', 'The Mummy or Ramses the Damned', 'The Murder Book', 'The Nanny Diaries: A Novel', 'The Next Accident', "The No. 1 Ladies' Detective Agency", "The No. 1 Ladies' Detective Agency (Today Show Book Club #8)", 'The Notebook', 'The Other Boleyn Girl', 'The Partner', 'The Pelican Brief', 'The Perfect Husband', 'The Perfect Storm : A True Story of Men Against the Sea', 'The Perks of Being a Wallflower', 'The Phantom Tollbooth', 'The Pillars of the Earth', "The Pilot's Wife", "The Pilot's Wife : A Novel", "The Pilot's Wife : A Novel Tag: Author of the Weight of Water (Oprah's Book Club (Hardcover))", "The Plains of Passage (Earth's Children (Paperback))", 'The Poisonwood Bible', 'The Poisonwood Bible: A Novel', 'The Prince of Tides', "The Princess Bride: S Morgenstern's Classic Tale of True Love and High Adventure", 'The Princess Diaries', 'The Professor and the Madman: A Tale of Murder, Insanity, and the Making of The Oxford English Dictionary', 'The Queen of the Damned (Vampire Chronicles (Paperback))', 'The Rainmaker', 'The Rapture of Canaan', 'The Reader', 'The Red Tent (Bestselling Backlist)', 'The Reef', 'The Remains of the Day (Vintage International)', 'The Reptile Room (A Series of Unfortunate Events, Book 2)', 'The Rescue', 'The Return Journey', 'The Return of the King (The Lord of the Rings, Part 3)', 'The Runaway Jury', "The Samurai's Garden : A Novel", 'The Saving Graces: A Novel', 'The Search', 'The Secret Life of Bees', "The Shelters of Stone (Earth's Children Series, No 5)", 'The Shipping News : A Novel', 'The Sigma Protocol', 'The Simple Truth', 'The Smoke Jumper', 'The Sparrow', 'The Stand: Complete and Uncut', 'The Stone Diaries', 'The Stone Monkey (Lincoln Rhyme Novels (Paperback))', 'The Street Lawyer', 'The Sum of All Fears', 'The Sum of All Fears (Jack Ryan Novels)', 'The Summerhouse', 'The Summons', 'The Surgeon', "The Sweet Potato Queens' Book of Love", 'The Tale of the Body Thief (Vampire Chronicles (Paperback))', 'The Talisman', 'The Tao of Pooh', 'The Temple of My Familiar', 'The Testament', 'The Third Twin', 'The Thorn Birds', 'The Tommyknockers', 'The Two Towers (The Lord of the Rings, Part 2)', 'The Ugly Duckling', 'The Valley of Horses', 'The Vampire Lestat (Vampire Chronicles, Book II)', 'The Villa', 'The Virgin Blue', 'The Virgin Suicides', 'The Weight of Water', 'The Weight of Water : A Novel Tag: Author of Resistance and Strange Fits of Passion', 'The Winner', 'The Witching Hour (Lives of the Mayfair Witches)', 'The Woman Next Door', 'The World According to Garp', 'Their Eyes Were Watching God: A Novel', 'Thousand 

In [178]:
# I tested KNN with the default minkowski metric but did not get the correct results. Cosine metric gets matching results
KNN = NearestNeighbors(metric='cosine')

In [179]:
# fitting model to data
KNN.fit(X)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [180]:
# sandbox of functions used to ensure I can get correct answers in the tested fields
def reverse_indexer(indx):
  return labels[indx]

test_book = "Where the Heart Is (Oprah's Book Club (Paperback))"

query_index = df_pivot.index.get_loc(test_book)

dist, indices = KNN.kneighbors(df_pivot.iloc[query_index,:].values.reshape(1,-1), n_neighbors=7)

result = []
recommended_books = []

for x in range(1,6):
  recommended = [reverse_indexer(indices[0][x]), dist[0][x]]
  result.append(recommended)
recommended_books = [test_book, result]
print(recommended_books)

["Where the Heart Is (Oprah's Book Club (Paperback))", [['The Lovely Bones: A Novel', 0.7234864], ['I Know This Much Is True', 0.7677075], ['The Surgeon', 0.7699411], ['The Weight of Water', 0.77085835], ["I'll Be Seeing You", 0.8016211]]]

In [181]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):

  def reverse_indexer(indx): #this function returns the title of a book given its index
    return labels[indx]

  query_index = df_pivot.index.get_loc(book) # this gets the index of a book given its title

  dist, indices = KNN.kneighbors(df_pivot.iloc[query_index,:].values.reshape(1,-1), n_neighbors=7) 

  result = []

  recommended_books = []

  for x in range(5, 1, -1): # since results need to be returned in reverse order, range is given as a descending number
    recommended = [reverse_indexer(indices[0][x]), dist[0][x]]
    result.append(recommended)
  recommended_books = [book, result]

  return recommended_books

In [182]:
#testing my function before using the FCC tester
books = get_recommends(book="Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075]]]

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [183]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You havn't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075]]]
You passed the challenge! 🎉🎉🎉🎉🎉